@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


@font-face{
    font-family: "ben10";
    src: url(./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
/* selectors select method  */

/* 1. natural selectors h1 h2 p img table div  */
/* class selectors */

/* .one{
    color: aquamarine;
}
.two{
    color: blue;
}

#one{
    color: brown;
}
#two{
    color: blueviolet;
} */

/* attributes selectors */

/* a[href]{
    color: rgb(143, 79, 1);
} */

/* universal selector  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ul > *{
    background-color: blue;
}

.colours{
    color: rgb(255, 255, 255);
    background-color: blueviolet;
} */


/* font -properties 
 */

 /* 1. font size /  */


 /* px pt rem em

 1px-0.27mm
 1pt-0.33mm
 em - parent 100% 
 rem - root 100% */

 /* .font{
    font-size: 1em;
 }

 .hello{
    font-size: 2rem;
 }

 .box{
    padding: 5px 10px 15px 110px;
    border-top:10px dashed blue ;
    border-right:20px dashed rgb(0, 255, 4) ;
    border-bottom:19px dashed blue ;
    border-left:20px dashed blue ;
    margin: 190px 50px 60px 70px;




    font-weight: 900;
    font-family: "ben10";    font-size: 30px;
 }

.family{
    font-family: "ben10";}

.offline{
    font-family: "ben10";
} */

/* combine select method  */

.one,.two,.three,.four,.five{
    font-size: 30px;
    font-weight: 900;
    color: rgb(1, 35, 35);
}

/* > */

.header{
    width: 100vw;
    height: 10vh;
    background-color: brown;
}

.header > .logo {
    font-size: 30px;
    font-weight: 900;
    color: aliceblue;
    padding: 18px 0 0 20px;
}

ul ol>li{
    font-size: 50px;
}

/* css position  */
body{
    height: 200vh;
}
.box{
    width: 150px;
    height: 150px;
}

.one{
    background-color: aqua;
    position: static;
    top: 290px;
    left: 20px;
}

.two{
    background-color: mediumorchid;
   
     position: absolute;
     z-index: 0;
 
}


.three{
    background-color: mediumspringgreen;
   position: relative;
   left: 30px;
   z-index: -2;
  
 
   
}

.four{
    background-color: black;
}

.first-box{
    width: 200px;
    height: 200px;
    border: 10px solid blue;
    position: relative;
    left: 350px;

}

.circle{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
   margin-left: 36%;
   margin-top: 36%;

}

.four{
    position: sticky;
    top: 50px;
}

.five{
    background-color: rgb(0, 255, 136);
    position: fixed;
    right: 0;
    top: 0;
}


.about-h{
    font-size: 50px;
    font-weight: 900;
    color: rgb(164, 3, 3);
    text-align: center;
    font-family: "ben10";
}

.about-img{
    border-radius: 20%;
    border: 2px solid black;
    margin: auto 20%;
}

.about-p{
    font-size: 20px;
    font-weight: 900;
    color: rgb(164, 3, 3);
    text-align: justify;
    font-family: "ben10";
    
}


@media(max-width:1144px){
 .about-img{
    position: relative;
    left: 20%;
 }    

 .about-p{
    margin: 50px;
 }
}

@media(max-width:769px){
    .about-img{
        position: relative;
        left: 15%;
    }
}

@media(max-width:533px){
    .about-img{
        position: relative;
        left: 8%;
    }
}

@media(max-width:426px){
    .about-img{
        position: relative;
        left: 5%;
    }

    .about-p{
        margin: 30px;
        font-size: 18px;
    }
}

@media(max-width:376px){
    .about-img{
        position: relative;
        left: 0%;
    }

    .about-p{
        margin: 25px;
        font-size: 16px;
    }
}

@media(max-width:363px){
    .about-img{
        position: relative;
        left: -10px;
    }

    .about-p{
        margin: 20px;
        font-size: 15px;
    }
}


.box{
    width: 100px;
    height: 100px;

}

.box1{
    background-color: red;
    display: inline-block;
}

.box2{
    background-color: greenyellow;
    display: inline-block;
}

.box3{
    background-color: blueviolet;
    display: none;

}

.box4{
    background-color: rgb(255, 0, 153);
    display: inline-block;
}

.box5{
    background-color: rgb(0, 255, 64);
    display: inline-block;
}

.box1:hover{
 display: block;
}




